header,
nav,
article,
section,
aside,
footer {
  @include row();
}

.container,
.nav-buttons {
  @include outer-container;
  @include padding(1em);
}

header,
nav,
footer,
.page-title {
  text-align: center;
  padding: 0 1em;
}

#logo {
  padding: 0.8em 0.5em 0 0.5em;
}

#phone-social {
  padding: 0 0.5em;
}

