header,
article,
section,
aside,
footer {
  @include row();
}

.container {
  @include outer-container;
  @include padding(1em);
}

header,
footer {
  text-align: center;
  padding: 0 0.5em;
}

#logo {
  padding-top: 1em;
  width: 618px;
}

#phone-social {
  padding: 0 0.5em;
}

#page-title {
  margin-top: 0.4em;
  padding: 0 0.5em;
  text-align: center;
}

.feature {
  text-align: center;
}

.preamble {
  margin-bottom: 1em;
  padding: 0.5em;
  padding-top: 0;
  text-align: center;
  border-radius: $base-border-radius;

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    text-align: left;
  }

  @include media($large-viewport-plus) {
    @include span-columns(6 of 12);
    @include omega(even);

    &:nth-last-child(-n+2) {
      p {
        height: 72px;
      }
      margin-bottom: 0;
    }
  }

  @include media(min-width $large-viewport max-width 1100px) {
    p {
      height: 213px;
    }
  }

  @include media(min-width 1101px) {
    p {
      height: 142px;
    }
  }
}

blockquote {
  display: block;
  margin: 1em;
  border-left: $base-border;
  padding-left: 1.5em;
}
