header,
article,
section,
aside,
footer {
  @include row();
}

.container {
  @include outer-container;
  @include padding(1em);
}

header,
footer {
  text-align: center;
  padding: 0 0.5em;
}

#logo {
  padding-top: 1em;
}

#phone-social {
  padding: 0 0.5em;
}

#page-title {
  margin-top: 0.4em;
  padding: 0 0.5em;
  text-align: center;
}

.feature {
  text-align: center;
}

.preamble {
  margin-bottom: 1em;
  padding: 0.5em;
  padding-top: 0;
  text-align: center;
  border-radius: $base-border-radius;

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    text-align: left;
  }
}

blockquote {
  display: block;
  margin: 1em;
  border-left: $base-border;
  padding-left: 1.5em;
}
