.parallax {
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  height: 22em; 
  overflow: hidden;
  background-color: $gold;
  max-width: 2400px;
  margin: 1em auto 0 auto;
}

#studio {
  background-image: url(/images/console.jpg);
}

#mic {
  background-image: url(/images/mic-2440.jpg);
}

#levels {
  background-image: url(/images/levels-2437.jpg);
}
