<% wrap_layout :layout do %>

<article>
  <h2 id="page-title"><%= page_title %></h2>
  <%= yield %>
</article>

<aside>
  <div class="container">
    <h3>Client Testimonial</h3>
    <blockquote>
      <p>"<%= testimonial %>"</p>
      <p>
        <em>&#8212; <%= client %></em>
      </p>
    </blockquote>
    <a href="#">More Testimonials</a>
  </div>
</aside>

<% end %>
