<nav>
  <ul class="nav-buttons">
    <li>
      <%= link_to "Audio Services", "/audio-services.html" %>
    </li>
    <li>
      <%= link_to "Demos", "/#" %>
    </li>
    <li>
      <%= link_to "About Southwest", "/#" %>
    </li>
    <li>
      <%= link_to "Contact Us", "/#" %>
    </li>
  </ul>
</nav>
