---
title: About
meta_description: About meta description...

layout: interior 
---

<section id="get-it-now">
  <div class="container">
    <h3>Get it Now</h3>
    <ul>
      <h4>Emergency Deadline - No Problem</h4>
      <p>
        Very rarely do we have the luxury of a 4 or 5 day turnaround. At
        Southwest Recording Service, we always strive to turn those emergencies
        around as quickly as possible. It's our goal to make your life easier,
        so next-day turnaround is typical, and same-day turnaround is not out
        of the question!
      </p>
      <h4>We Love Technology</h4>
      <p>
        Upon completion of your project, we upload to Dropbox at no extra
        charge, where you can download at your convenience. You can have your
        finished product as quickly in Miami or Los Angeles as our local
        clients!
      </p>
    </ul>
  </div>
</section>

<section id="equipment">
  <div class="container">
    <h3>Equipment</h3>
    <p>
      (placeholder for equipment list)
    </p>
  </div>
</section>

