---
title: About
meta_description: Southwest Recording has been providing major-market audio to its customers for over 20 years. Allan Blackwell has won numerous awards for his productions.

layout: interior

testimonial: Colorado Springs Marketing has been using the wonderful audio production of Allan and Southwest Recording for over 17 years. They are very creative in copywriting and production, and we have always been extremely happy with their care for our clients. Their businesses continue to grow, and Southwest Recording has been a big part of making that happen.

client: Sandra Noll, Colorado Springs Marketing
---

<section id="profesional-background">
  <div class="container">
    <h3>Profesional Background</h3>
      <p>
        Southwest Recording Service has been providing major-market audio to
        its customers for over 20 years. Owner and chief operator Allan
        Blackwell has been in the audio business for decades. He has won
        numerous awards for his productions, including Addy Awards from the
        Pikes Peak and New Mexico Advertising Federations, the GNC Golden
        Triangle award for best use of local radio, and a Telly award in
        conjunction with KOAA-TV in Colorado Springs.
      </p>
  </div>
</section>

<section id="musical-talent">
  <div class="container">
    <h3>Musical Talent</h3>
      <p>
        Allan also brings considerable musical talent to his profession. He has
        done demo recordings with Brian Mcknight, and also had the privilege of
        editing music for such skating artists as Max Aaron, Josh Farris,
        Rachael Flatt, Jill Trenary, Christopher Dean, Stars on Ice, Michelle
        Kwan, Scott Davis, Renee Roca and Gorsha Sur, and Olympians Peter Breen
        and Rachael Meyer.
      </p>
  </div>
</section>

<section id="national-presence">
  <div class="container">
    <h3>National Presence</h3>
      <p>
        Southwest Recording Service has produced many programs heard nationwide
        on National Public Radio, including "Money Talks" for the American
        Numismatic Association, "Eco Essays", also a world-wide NPR program,
        and "60 Seconds of Sole" for Famous Footwear. We are also the exclusive
        facility for Travel Audios, available at most of the national parks,
        including Yellowstone, Grand Canyon, Crater Lake, Grand Tetons, Glacier,
        and Trail Ridge Road.
      </p>
  </div>
</section>

<section id="equipment">
  <div class="container">
    <h3>Top-Notch Equipment</h3>
    <p>
      Southwest Recording Service uses nothing short of the highest quality
      recording and editing equipment available. Our inventory includes...
    </p>
    <%= link_to "Complete Equipment List",
                "/equipment.html",
                class: "button" %>
  </div>
</section>

