---
title: About
meta_description: About meta description...

layout: interior 
---

<section id="get-it-now">
  <div class="container">
    <h3>Profesional Background</h3>
    <ul>
      <p>
        Southwest Recording Service has been providing major-market audio to
        its customers for over 20 years. Owner and chief operator Allan
        Blackwell has been in the audio business for decades. He has won
        numerous awards for his productions, including Addy Awards from the
        Pikes Peak and New Mexico Advertising Federations, the GNC Golden
        Triangle award for best use of local radio, and a Telly award in
        conjunction with KOAA-TV in Colorado Springs.
      </p>
      <p>
        Allan also brings considerable musical talent to his profession. He has
        done demo recordings with Brian Mcknight, and also had the privilege of
        editing music for such skating artists as Max Aaron, Josh Farris,
        Rachael Flatt, Jill Trenary, Christopher Dean, Stars on Ice, Michelle
        Kwan, Scott Davis, Renee Roca and Gorsha Sur, and Olympians Peter Breen
        and Rachael Meyer.
      </p>
      <p>
        Southwest Recording Service has produced many programs heard nationwide
        on National Public Radio, including "Money Talks" for the American
        Numismatic Association, "Eco Essays", also a world-wide NPR program,
        and "60 Seconds of Sole" for Famous Footwear. We are also the exclusive
        facility for Travel Audios, available at most of the national parks,
        including Yellowstone, Grand Canyon, Crater Lake, Grand Tetons, Glacier,
        and Trail Ridge Road.
      </p>
    </ul>
  </div>
</section>

<section id="equipment">
  <div class="container">
    <h3>Equipment</h3>
    <p>
      (placeholder for equipment list)
    </p>
  </div>
</section>

