---
title: Contact
meta_description: Contact Southwest Recording Service.

layout: interior

testimonial: Hope you know how much we appreciate your exemplary customer service. You truly set the standard!

client: Ann Martin, Idea Bank Marketing
---

<section id="contact-info">
  <div class="container">
    <h3>Reach us by</h3>
      <p>email: allan@southwestrecording.com</p>
      <p>phone: (719) 633-7335</p>
      <p>cell: (719) 494-9641</p>
      <p>fax: (719) 633-7338</p>
      <p>facebook:
      <%= link_to "Southwest Recording Facebook Page",
          "https://www.facebook.com/southwestrecording",
          target: "_blank" %>
      </p>
  </div>
</section>
