---
title: Equipment
meta_description: Equipment meta description...

layout: testimonial 
---

<section id="equipment">
  <div class="container">

<h3>RECORDING CONSOLE</h3>

<ul>
<li>MACKIE 8-BUS, 48 INPUTS</li>
<li>STUDIO TECHNOLOGIES 68A/69A MONITOR CONTROLLER</li>
</ul>

<h3>MAIN RECORDING SYSTEM</h3>

<ul>
<li>PRO TOOLS 10 + PRO TOOLS 11 HD</li>
<li>WINDOWS 7 64-BIT ULTIMATE</li>
<li>DIGI 003 CONTROL SURFACE</li>
</ul>

<h3>PLUGINS</h3>

<ul>
<li>UNIVERSAL AUDIO OCTO and SOLO DSP CARDS</li>
<li>API VISION CHANNEL STRIP</li>
<li>SSL G SERIES</li>
<li>CS1 CHANNEL STRIP</li>
<li>DBX 160VU</li>
<li>1176 COLLECTION</li>
<li>LA2A</li>
<li>LEXICON 224 REVERB</li>
<li>EMT 140 PLATE REVERB</li>
<li>EMT 250 REVERB</li>
<li>LITTLE-LABS IBP</li>
<li>PULTEC PRO</li>
<li>FAIRCHILD 670</li>
<li>LITTLE LABS VOICE OF GOD</li>
<li>NEVE 1073</li>
<li>NEVE 88RS</li>
<li>PRECISION DE-ESSER</li>
<li>PRECISION HZ</li>
<li>PRECISION LIMITER</li>
<li>PULTEC EQP&#8211;1A</li>
<li>PULTEC PRO EQ</li>
<li>SHADOW HILLS MASTERING COMPRESSOR</li>
<li>STUDER A800</li>
<li>UA&#8211;610B</li>
<li>NOMAD FACTORY</li>
<li>BBE SONIC SUITE</li>
<li>ESSENTIALSTUDIO COLLECTION</li>
<li>COSMOS</li>
<li>ECHOES</li>
<li>MAGNETIC II</li>
<li>SOFTUBE</li>
<li>SUMMIT AUDIO GRAND CHANNEL</li>
<li>FET COMPRESSOR</li>
<li>LEXICON</li>
<li>MPX NATIVE REVERB</li>
<li>LXP NATIVE REVERB BUNDLE</li>
<li>EVENTIDE</li>
<li>OMNIPRESSOR</li>
<li>2016 STEREO ROOM REVERB</li>
<li>ULTRA REVERB</li>
<li>ULTRA CHANNEL</li>
<li>FLUX</li>
<li>BITTERSWEET</li>
</ul>

<h3>WAVE ARTS</h3>

<ul>
<li>TRACK PLUG 5</li>
<li>MULTI-DYNAMICS</li>
<li>PANORAMA</li>
<li>MASTERVERB 5</li>
<li>FINAL PLUG</li>
<li>ANTARES</li>
<li>AUTO TUNE 7</li>
<li>MIC MOD</li>
<li>DUO</li>
<li>PLUG AND MIX</li>
<li>ENTIRE PLUG AND MIX COLLECTION</li>
<li>FAB FILTER</li>
<li>PRO Q2</li>
<li>PRO L</li>
<li>MINNETONKA</li>
<li>DOLBY PRO-LOGIC II SURCODE</li>
<li>MAAG AUDIO</li>
<li>EQ2</li>
<li>SONNOX</li>
<li>TRANSIENT MODULATOR</li>
</ul>

<h3>SLATE DIGITAL</h3>

<ul>
<li>VIRTUAL BUSS COMPRESSOR</li>
<li>LINDELL AUDIO</li>
<li>TX500 COMPRESSOR</li>
<li>McDSP</li>
<li>6030 ULTIMATE COMPRESSOR</li>
<li>METRIC HALO</li>
<li>CHANNEL STRIP</li>
<li>THUMP</li>
<li>TRANSIENT DESIGNER</li>
<li>PSP</li>
<li>XENON</li>
<li>SPL</li>
<li>TWIN TUBE</li>
<li>IK MULTIMEDIA</li>
<li>AMPLITUBE 3</li>
<li>T-RACKS CHANNEL STRIP</li>
<li>T-RACKS EQ</li>
<li>T-RACKS METERING</li>
<li>BLUE CAT AUDIO</li>
<li>CHORUS</li>
<li>DP METER</li>
<li>PATCHWORK</li>
<li>FLANGER</li>
<li>FREQUANALYST</li>
<li>GAIN</li>
<li>PHASER</li>
<li>TRIPLE EQ</li>
</ul>

<h3>PLUS ALL STOCK DIGI/AVID PLUGINS</h3>

<ul>
<li>OUTBOARD GEAR</li>
<li>PREAMPS</li>
<li>ART PROCHANNEL</li>
<li>ART MPA PRO II</li>
<li>JOE MEEK VC1Q</li>
<li>JOE MEEK VC6</li>
<li>BBE 381 GUITAR PREAMP (2)</li>
<li>COMPRESSORS</li>
<li>DBX 1066</li>
<li>DBX 160A</li>
<li>DBX 903 (4)</li>
<li>VALLEY PEOPLE DYNA-MITE</li>
<li>JOE MEEK SC2.2</li>
<li>REVERB</li>
<li>YAMAHA REV 500</li>
<li>LEXICON MX200</li>
<li>OTHER</li>
<li>BBE 882i (3)</li>
<li>DBX 120</li>
<li>ENSONIQ ASR&#8211;10 SAMPLER/SEQUENCER</li>
<li>ALESIS DM-PRO DRUM MODULE</li>
</ul>

<h3>MICROPHONES</h3>

<ul>
<li>AKG SOLID TUBE</li>
<li>GROOVE TUBES MD&#8211;1 (2)</li>
<li>AT 4033 (2)</li>
<li>AKG C&#8211;1000S (2)</li>
<li>EQUITEK E&#8211;100</li>
<li>JOE MEEK JM27 (2)</li>
<li>EV RE&#8211;20 (2)</li>
<li>SM57 (3)</li>
<li>ATM 23HE</li>
<li>ATM 25</li>
<li>AUDIX D6</li>
<li>BEYER M500 (2)</li>
</ul>

<h3>OTHER RECORDING DEVICES</h3>

<ul>
<li>TASCAM DA88 (3)</li>
<li>FOSTEX E&#8211;2 1/4&quot; REEL TO REEL</li>
<li>SONY PCM2300 DAT</li>
<li>TASCAM 112B CASSETTE</li>
</ul>

<h3>CD AUTHORING SOFTWARE</h3>

<ul>
<li>NERO</li>
<li>ROXIO</li>
<li>SONY CD ARCHITECT</li>
</ul>

<h3>MONITORING EQUIPMENT</h3>

<ul>
<li>MAINS:</li>
<li>JBL 4410</li>
<li>CUSTOM BUILT 15” TWIN CHAMBER ISOBARIK SUBS</li>
<li>ALESIS M1 ACTIVE NEARFILEDS</li>
<li>JBL 6208 SURROUNDS</li>
<li>YAMAHA NS-A635 CENTERS</li>
<li>STUDIO TECHNOLOGIES 68A/69A MONITOR CONTROLLER</li>
</ul>

  </div>
</section>

