---

---
<div id="studio" class="parallax">
</div>

<div class="container">
  
  <h2 class="feature">
    Amazing Quality, Quick Turnaround<br>
    Competitive Pricing
  </h2>

  <p class="feature">
    <strong>
      You have heard the old axiom: “Speed, price, quality. Pick any two.”
    </strong>
  </p>

  <p>
    At Southwest Recording Service, you will get the best-sounding product in
    the business, usually delivered the same business day, but at a
    refreshingly affordable price.
    We utilize the industry’s best hardware and software, and back it up with
    in-depth  knowledge of how to put it all to work for you. Whether it is a
    national commercial campaign, an on-hold message for your phone, or an
    attention-grabbing custom jingle, we are ready to meet your audio needs. 
  </p>

</div>

<div id="mic" class="parallax">
</div>

<div class="container">

  <h2 class="feature">
    A <em>Sound</em> Part of Your Success
  </h2>

  <p class="feature">
    <strong>Sound:</strong> <em>(n)</em> the sensation experienced through the
    sense of hearing;<br>
    a particular auditory impression<br>
    <em>(adj)</em> solid, firm, stable, free from flaws or defects
  </p>

</div>

<div id="levels" class="parallax">
</div>
