---
priority: 1.0
---
<div id="studio" class="parallax">
</div>

<div class="container">
  
  <h2 class="feature">
    Amazing Quality, Quick Turnaround,<br>
    Competitive Pricing
  </h2>

  <p class="feature">
    <strong>
      You have heard the old axiom: “Speed, price, quality. Pick any two.”
    </strong>
  </p>

  <p>
    At Southwest Recording Service, you get all three...the best sounding
    product in the business, typically delivered the same business day, but at
    a refreshingly affordable price.
    We utilize the industry’s best hardware and software, and back it up with
    in-depth knowledge of how to put it all to work for you. Whether it is a
    national commercial campaign, an on-hold message for your phone, or an
    attention-grabbing custom jingle, we are ready to meet your audio needs. 
  </p>

</div>

<div id="mic" class="parallax">
</div>

<div class="container">

  <div class="preamble">
    <h3>Services</h3>
    <p>
      At Southwest Recording Service, we always strive to turn emergencies
      around as quickly as possible. Next-day turnaround is typical and
      same-day turnaround is not out of the question!
    </p>
    <%= link_to "Services",
        "/services.html",
        class: "button" %>
  </div>

  <div class="preamble">
    <h3>Demos</h3>
    <p>
      Here is a small sampling of actual projects that have been completed at
      Southwest Recording Service. Other voices available upon request. 
    </p>
    <%= link_to "Demos",
        "/demos.html",
        class: "button" %>
  </div>

  <div class="preamble">
    <h3>About Us</h3>
    <p>
      Who we are and what do we do.
    </p>
    <%= link_to "About Us",
        "/about.html",
        class: "button" %>
  </div>

  <div class="preamble">
    <h3>Contact Us</h3>
    <p>
      Have a voice-over or audio production project we can help with?
    </p>
    <%= link_to "Contact Us",
        "/contact.html",
        class: "button" %>
  </div>

</div>

<div id="levels" class="parallax">
</div>

<div class="container">

  <h2 class="feature">
    A <em>Sound</em> Part of Your Success
  </h2>

  <p class="feature">
    <strong>Sound:</strong> <em>(n)</em> the sensation experienced through the
    sense of hearing;<br>
    a particular auditory impression<br>
    <em>(adj)</em> solid, firm, stable, free from flaws or defects
  </p>
  
</div>
