---
title: Services
meta_description: Services meta description...

layout: interior

testimonial: ...an artist, a musician, a technical wizard only begin to describe the traits of this accomplished sound engineer. Allan's devotion to my projects, his drive for perfection, and his consistent ability to deliver one masterpiece after another, make it inconceivable to consider anyone else for my National Park Audio Guides. Quite simply, trying to find anyone with more talent, patience, or sense of humor would be futile!

client: Nancy Rommes, Travel Audios
---

<section id="radio-tv-ads">
  <div class="container">
    <h3>Radio and TV Ads</h3>
    <p>
      We have a very substantial talent base, allowing us to find the best
      voiceover talent, male or female, for your project. We also have access
      to numerous music and sound effects libraries. And remember, quick
      turnaround is never a problem!
    </p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203881941&amp;color=bb532d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

  </div>
</section>

<section id="tv-promos">
  <div class="container">
    <h3>TV Promos</h3>
    <p>
      TV Image Liners and Promos Take advantage of the same quick, no-hassle
      service as our commercial clients. We will get your liners back to you
      almost always on the same day*. Always multiple takes, no false takes to
      weed thru. Plus very flexible terms...your choice of one flat
      monthly fee or per-line, whichever works best.
    </p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205006299&amp;color=bb532d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    <p>
      *Please note this applies to Allan's voice only since he is always here.
      Other talents also available but typically by schedule only.
    </p>
  </div>
</section>

<section id="jingles">
  <div class="container">
    <h3>Jingles</h3>
    <p>
      Nothing establishes your identity like your own jingle, and it doesn't
      have to empty your pocketbook! We have access to some of the best writers
      and musicians in the industry, and can create a jingle for your company
      in any style imaginable.
    </p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203882093&amp;color=bb532d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

  </div>
</section>

<section id="onhold-phone-prompts">
  <div class="container">
    <h3>OnHold/Phone Prompts</h3>
    <p>
      What do your customers hear when you put them on hold?
    </p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/206215897&amp;color=bb532d&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    <p>
      With a custom on-hold message from Southwest Recording Service, your
      clients hear what you want them to hear...tell them more about your
      business, or current specials...driving directions...all wrapped up in
      the style of music that best fits your customers! We can provide the
      playback hardware, or if you already have a system, we can provide you
      with the correct media. 
    </p>
    <p>
      Make sure your clients hear what <strong><em>you</em></strong> want them
      to hear when you place them on hold with an on-hold system from Southwest
      Recording Service.
    </p>
  </div>
</section>

<section id="music-recording-editing">
  <div class="container">
    <h3>Music Recording/Editing</h3>
    <p>
      Whether you're a skater, gymnast, or dancer, we know how important it is
      for your music to fit your routine. We've helped numerous performers
      customize their music to perfectly compliment their specific talents!
    </p>
  </div>
</section>
