---
title: Testimonials
meta_description: Read what clients have to say about working with Southwest Recording Service.

layout: testimonial
priority: 0.3
---

<section id="nancy-rommes">
  <div class="container">
    <blockquote>
      <p>
        "...an artist, a musician, a technical wizard only begin to describe the
        traits of this accomplished sound engineer. Allan's devotion to my
        projects, his drive for perfection, and his consistent ability to
        deliver one masterpiece after another, make it inconceivable to consider
        anyone else for my National Park Audio Guides. Quite simply, trying to
        find anyone with more talent, patience, or sense of humor would be
        futile!"
      </p>
      <p>
        <em>&#8212; Nancy Rommes, Travel Audios</em>
      </p>
    </blockquote>
  </div>
</section>

<section id="trip-uhalt">
  <div class="container">
    <blockquote>
      <p>
        "Anything I've ever done that's won awards, national Telly's on down,
        has had Allan's hands on the audio. I know I can turn a project over to
        him and it'll come back even better than I'd planned. He's fast and
        thorough, and he knows his stuff! A session with him is like a walk in
        the park, except without all the bees and muggers."
      </p>
      <p>
        <em>&#8212; Trip Uhalt, KXRM/KXTU-TV</em>
      </p>
    </blockquote>
  </div>
</section>

<section id="sandra-noll">
  <div class="container">
    <blockquote>
      <p>
        "Colorado Springs Marketing has been using the wonderful audio
        production of Allan and Southwest Recording for over 17 years. They are
        very creative in copywriting and production, and we have always been
        extremely happy with their care for our clients. Their businesses
        continue to grow, and Southwest Recording has been a big part of making
        that happen."
      </p>
      <p>
        <em>&#8212; Sandra Noll, Colorado Springs Marketing</em>
      </p>
    </blockquote>
  </div>
</section>

<section id="duane-norris">
  <div class="container">
    <blockquote>
      <p>
        "It's the nature of the business that a lot of our broadcast projects
        end up waiting until the last minute. As a consequence, there's nothing
        we value more than responsiveness from our creative vendors. Allan has
        always (and I mean <strong>always!</strong>) been willing to do whatever
        it takes to meet our deadlines, even when they're completely
        unrealistic! Just as importantly, the audio he delivers is always
        top-notch. Great voice-over, great mixes. Southwest Recording is the "go
        to" studio for us!"
      </p>
      <p>
        <em>&#8212; Duane Norris, Idea Bank Marketing</em>
      </p>
    </blockquote>
  </div>
</section>
